.cardWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardBorder {
    width: 40%;
    padding: 10px;
    border: 2px antiquewhite solid;
    border-radius: 20px;
}

.title {
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
}

.info {
    position: relative;

    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;
}

.info::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: -2px;
    background: #dbdbdb;

    transition: 0.3s;
}

.info::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: 100%;
    background: #dbdbdb;

    transition: 0.3s;
}

.info:hover::before {
    height: 100%;
}

.info:hover::after {
    height: 100%;
}




button.btn {
    color: #dbdbdb;
    border-color: #8b8b8b;
    margin-top: 20px;
    align-self: end;
}

button.btn:hover {
    border-color: #dbdbdb;
}

/* .email {
    display: contents;
    position: relative;
}

.email::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: -2px;
    background: #dbdbdb;

    transition: 0.3s;
}

.email::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: 100%;
    background: #dbdbdb;

    transition: 0.3s;
}

.email:hover::before {
    height: 50%;
}

.email:hover::after {
    height: 50%;
}

.phone {
    display: contents;
    position: relative;
}

.phone::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 50%;
    left: -2px;
    background: #dbdbdb;

    transition: 0.3s;
}

.phone::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 50%;
    left: 100%;
    background: #dbdbdb;

    transition: 0.3s;
}

.phone:hover::before {
    height: 50%;
}

.phone:hover::after {
    height: 50%;
} */