.cardWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardBorder {
    width: 45%;
    padding: 10px;
    border: 2px antiquewhite solid;
    border-radius: 20px;
}

.title {
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
}

.info {
    position: relative;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;
}

.info::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: -2px;
    background: #dbdbdb;

    transition: 0.3s;
}

.info::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: 100%;
    background: #dbdbdb;

    transition: 0.3s;
}

.info:hover::before {
    height: 100%;
}

.info:hover::after {
    height: 100%;
}




button.btn {
    color: #dbdbdb;
    border-color: #8b8b8b;
    margin-top: 20px;
    align-self: end;
}

button.btn:hover {
    border-color: #dbdbdb;
}

.email, .phone, .site {
    transition: .3s;
}

.email:hover,.phone:hover, .site:hover {
    color: #dbbb63;
}


.editInp {
    position: relative;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;

    transition: .3s;
}

.editInp:focus {
    color: #b36767;
}











.addressField {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    gap: 10px;
}